<?xml   version="1.0"   encoding="UTF-8"   ?>
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j'>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH\:mm\:ss} [ %t %p %l ] %m%n" />
		</layout>
	</appender>
	<appender name="myFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="output.log" /><!-- 设置日志输出文件名 -->
		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p (%c:%L)- %m%n" />
		</layout>
	</appender>
	<root>
		<priority value="info" />
		<appender-ref ref="STDOUT" />
		<appender-ref ref="myFile" />
	</root>

</log4j:configuration>